/* google fonts -> font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');


/* theme css start here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-size: 16;
    font-family: 'Poppins', sans-serif;
}

/* header area css start here */
.header-area {
    background: #FFFFFF;
    padding: 10px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.header-area .logo img {
    width: 47px;
    height: 50px;
}

.navigation .nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 2.6;
    color: #000;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.navigation .nav .nav-item .nav-link:hover {
    color: #2C7DFA;
}

.navigation a.login-btn {
    background: #2C7DFA;
    color: #fff !important;
    padding: 8px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.navigation a.login-btn:hover {
    background: #0e52bbd9;
}

/* header area css end here */

/* web intro area css start here */

section.web-intro-area {
    margin-top: 85px;
}

.heading-intro {
    position: relative;
}

.heading-intro img {
    position: absolute;
    z-index: -1;
    top: -19%;
    right: 31%;
    width: 109px;
    height: 110px;
}


.heading-intro .blue-heading {
    color: #2C7DFA;
}

.heading-intro p {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
}

.heading-intro p .blue-para {
    color: #2C7DFA;
    text-decoration: underline;
}


